*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(224, 121, 173);
    --secondary-color: rgb(192, 219, 255);
    --font-color:#373838;
    --font-color2: #696869;
    --background-color: #fafdff;
}

.font-ligth {
    color: var(--font-color2);
}

.emphasis {
    color: var(--secondary-color);
    
}

.name, .home {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
   
    
    button {
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        padding: 0.90;
        transition: background-color 0.3s ease;
        padding: 5px 10px;
    
        &.primary {
            background-color: var(--primary-color);
            color: #fff;
            
        }

        &.outline {
            background-color: var(--primary-color);   
            color: #fff;
        }

        &:hover {
            background-color: var(--secondary-color);
            border-color: #070205;
            color: var(--font-color);

        }
    }
    
  
header {
    /* topo da pagina */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;

    nav{
        font-size: 1rem;
        flex: 1;  
        
        ul {
            display: flex;
            gap: 1.25rem;
            justify-content: center;
            cursor: pointer;
            list-style: none;
        
        li {
            font-weight: 300;
            &:hover {
            color: var(--primary-color);
            }
        }
        }
      
    }
}

#hero {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    justify-items: center;
    padding: 40px;
    gap: 15rem;

   
article {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
 
>p {
        font-size: 1.5rem;
        line-height: 1.8rem;
}

.title{
        color: var(--primary-color);
        font-size: 5.5rem;
        font-weight: bolder;
        line-height: 3.5rem;
 }
}

    .frame {
        align-items: center;
        border: 1px solid var(--primary-color);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        width: 400px;
        height: 400px; 
        overflow: hidden;
        }
    
    .perfil {
        width: 85%;
        height: 85%;
        object-fit: cover;
        object-position: 50% 20%; 
    }

}

#projetos {
    padding: 40px;

    
 h1 {
        font-weight: 800;
        font-size: 3.25rem;
}
.foto{
    padding: 40px;
    border-radius: 15%;
    width: 50%;
  
}
}



/* pagina 2 */
.secondary-page {
    
    padding: 50px;

    h1 {
        font-size: 5rem;
    }

    p {
        font-size: 1.5rem;
        line-height: 1.8rem;
        font-weight: 600;
        
    }

    .styletext {
        font-size: 3rem;
    }
}

}






