:root {
    --primary-color: rgb(53, 233, 30);
    --secondary-color: rgb(151, 18, 18);
    --font-color:#ffffff;
    --background-color: #fff;
}

.emphasis {
    display: flex;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 1.25rem; 
}

body {
    background-image: url("/imagens/image.fundo.png");
    background-color: var(--background-color);
    backdrop-filter: blur(5px);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Roboto", sans-serif;
    color: #fff;
 
header {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: rgba(82, 81, 81, 0.247);
    border-radius: 20px;

    
ul {
    display: flex;
    justify-content: end;
    cursor: pointer;
    list-style: none;
}

.botao {  
    color: #fff;  
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s ease;
    margin: 10px;
    
}

.bfixed {
    background-color: var(--secondary-color);
    color: #fff;  
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
}

.botao:hover {
    background-color: #ffffff34;
}

}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15rem;
    padding: 60px;

#hero {
    flex: 1;
    article {
        display: flex;
        flex-direction: column;
        gap: 40rem;
    
    .text1-1 {
        font-size: 4rem;
        line-height: 4.5rem;
        font-weight: 900;
    }
  }
}

#formulario {
    flex: 1;
    display:flex;
    justify-content: center;

    form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0,0.4);
    padding: 20px;
    border-radius: 12px;
    max-width: 350px;

    label {
        color: #fff;
        font-size: 1rem; 
    }                                                
    input {
        padding: 10px;
        border-radius: 8px;
        border: none;

        input::placeholder {
        color: var(--secondary-color);
        }
}

button {
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
    padding: 0.30rem;
    background-color: var(--secondary-color);
    align-self: center;
    
        &:hover{
        background-color: var(--primary-color);
        }
    }
    }
}
}
}


